name: CI - Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  local_test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'

      - name: Cache Gradle packages
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Run tests
        run: ./gradlew clean test

  deploy_test:
    runs-on: ubuntu-latest
    needs: local_test
    if: github.ref == 'refs/heads/main'
    environment: raota-test-server

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Build application without tests
        run: ./gradlew clean build -x test

      - name: Upload JAR to test server
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.TEST_SERVER_HOST }}
          username: ${{ secrets.TEST_SERVER_USER }}
          key: ${{ secrets.TEST_SERVER_SSH_KEY }}
          port: 2222
          source: "build/libs/*SNAPSHOT.jar"
          target: "/home/heetaepark/raota/app.jar"

      - name: Restart application on test server
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.TEST_SERVER_HOST }}
          username: ${{ secrets.TEST_SERVER_USER }}
          key: ${{ secrets.TEST_SERVER_SSH_KEY }}
          port: 2222
          script: |
            cd /home/heetaepark/raota
            chmod +x run-test-server.sh
            ./run-test-server.sh


  e2e_test:
    runs-on: ubuntu-latest
    needs: deploy_test
    if: github.ref == 'refs/heads/main'
    environment: raota-test-server

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Run E2E tests against deployed test server
        run: ./gradlew E2ETest -De2e.base-uri=${{ secrets.TEST_SERVER_URL }} -De2e.port=8080
